<nav class="navbar navbar-dark bg-dark w-100">
  <div class="container-fluid">
    <button
      type="button"
      mat-button
      class="bef bef-btn-lavender p-0 bef bef-wmn-2rem bef-h-2rem"
      (click)="toggleSideNav.emit()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Menu"
        fontIcon="menu"
        class="m-0"
      ></mat-icon>
    </button>
    <a
      class="navbar-brand"
      href="/"
      [routerLink]="['/']"
      routerLinkActive="active"
      >Colorfull lists</a
    >
  </div>
</nav>
