@defer ( on idle ) {
<app-header></app-header>
} @loading {
<app-loading
  [spinnerColor]="'primary'"
  [customSpinnerColor]="'lavender'"
  [spinnerDiameter]="100"
  [spinnerStrokeWidth]="10"
></app-loading>
} @error {
<app-error></app-error>
} @defer ( on idle ) {
<app-main></app-main>
} @loading {
<app-loading
  [spinnerColor]="'primary'"
  [customSpinnerColor]="'lavender'"
  [spinnerDiameter]="150"
  [spinnerStrokeWidth]="5"
></app-loading>
} @error {
<app-error></app-error>
} @defer ( on idle ) {
<app-footer></app-footer>
} @loading {
<app-loading
  [spinnerColor]="'primary'"
  [customSpinnerColor]="'lavender'"
  [spinnerDiameter]="50"
  [spinnerStrokeWidth]="20"
></app-loading>
} @error {
<app-error></app-error>
}
<app-loading
  [title]="' '"
  [titleClasses]="'h1 text-center my-3'"
  [message]="' '"
  [messageClasses]="'my-5 text-center text-muted'"
  [spinnerColor]="'primary'"
  [customSpinnerColor]="'lavender'"
  [spinnerDiameter]="100"
  [spinnerStrokeWidth]="10"
></app-loading>
<app-loading
  [title]="' '"
  [titleClasses]="'h1 text-center my-3'"
  [message]="' '"
  [messageClasses]="'my-5 text-center text-muted'"
  [spinnerColor]="'primary'"
  [customSpinnerColor]="'lavender'"
  [spinnerDiameter]="150"
  [spinnerStrokeWidth]="5"
></app-loading>
<app-loading
  [title]="' '"
  [titleClasses]="'h1 text-center my-3'"
  [message]="' '"
  [messageClasses]="'my-5 text-center text-muted'"
  [spinnerColor]="'primary'"
  [customSpinnerColor]="'lavender'"
  [spinnerDiameter]="50"
  [spinnerStrokeWidth]="20"
></app-loading>
<app-loading
  [title]="'Loading, please wait ...'"
  [titleClasses]="'h1 text-center my-3'"
  [message]="'Testing the loading component'"
  [messageClasses]="'my-5 text-center text-muted'"
  [spinnerColor]="'primary'"
  [customSpinnerColor]="'lavender'"
  [spinnerMode]="'indeterminate'"
  [spinnerValue]="50"
  [spinnerDiameter]="100"
  [spinnerStrokeWidth]="10"
  [spinnerClasses]="'d-block mx-auto my-3'"
></app-loading>
